dist
**cometsuite*egg-info
build
docs/_build
docs/api
*~
*.pyc
*.so
__pycache__
cometsuite/integrator/prop2b.c
cometsuite/integrator/bsint.c
.vscode
.hypothesis

_version.py
.venv
.tox

# cometsuite save files
*.xyz
